.input-field > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.input-field > button {
  color: var(--dark);
  background-color: unset;
  border-radius: 0;
  height: 100%;
}

.input-field > button > svg {
  vertical-align: middle;
}

.input-field > h3 {
  margin: 0;
}

.set-total-button {
  background-color: unset;
  color: var(--dark);
}

.fieldset-content {
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0 1rem;
}

.fieldset-content input {
  height: 2.5rem;
}

.fieldset-actions {
  display: flex;
  justify-content: flex-end;
}
