/*
*/
#main-header > .backdrop {
  align-items: flex-start;
}

#main-header > .backdrop > * {
  flex-basis: auto;
  padding: var(--s400);
  height: 3.5rem;
}

#main-header h2 {
  display: inline;
  margin: 0;
}

#main-header button {
  padding: 0;
  background-color: unset;
  color: currentColor;
}

#main-header svg {
  width: 1.5rem;
}
#main-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#main-nav > ul > li {
  margin-inline-start: var(--s400);
}

.logo {
  max-width: 24px;
}

.logo-text {
  display: none;
}
