#main-header {
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main-nav button {
  color: currentColor;
  width: 100%;
  background-color: var(--primary-shade);
  height: 100%;
  padding: 0.5rem;
}

#logotype {
  font-weight: 900;
  background-color: var(--dark);
  color: currentColor;
  border-radius: 1rem;
  padding: 0.75rem;
  height: min-content;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

#main-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#main-nav > ul > li {
  flex: 1 1 auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 75em) {
  #main-header{
    max-width: 75em;
    margin: auto;
  }
}