/*
*/
#main-header {
  padding: var(--s400);
  align-items: flex-start;
}

#main-header > * {
  flex-basis: auto;

}

#main-header h2 {
  display: inline;
}

#main-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#main-nav > ul > li {
  margin-inline-start: var(--s400);
}

.logo-text {
  display: none;
}
