.item-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid var(--shade);
  margin-bottom: var(--s400);
}

.item-header > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.item-header > button {
  color: var(--dark);
  background-color: unset;
  border-radius: 0;
  height: 100%;
}

.item-header > button > svg {
  vertical-align: middle;
}

.item-header > h3 {
  margin: 0;
}

.item-total > h4 {
  margin: 0;
  color: var(--secondary);
  font-weight: 700;
}