.worksheet-section {
}

.section-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid var(--shade);
}

.section-header > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-header > button {
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0;
  height: 100%;
}

.section-header > button > svg {
  vertical-align: middle;
}

.section-header > h2 {
  margin: 0;
}
