/* Backdrop layout distribution */
/*
#main-header {
  position: fixed;
  top: 0;
  width: 100vw;
}

#main-header > .backdrop {
  padding: var(--s400);
  height: 3.5rem;
  background-color: var(--primary-bg);
}

#App > main{
  padding-top: 3.5rem;
}
*/
