.data-editor {
  height: fit-content !important;
}

.cell {
  min-width: 12ch !important;
  min-height: 1ch !important;
  height: 2rem !important;
  width: fit-content !important;
  padding: 4px !important;
}

.worksheet-table table {
  background-color: var(--light);
}

.table-content {
  overflow-x: auto;
}

.table-content tr:nth-child(even) {
  background-color: var(--shade);
}

.table-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid var(--shade);
  margin-bottom: var(--s400);
}

.table-header > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.table-header > button {
  color: var(--dark);
  background-color: unset;
  border-radius: 0;
  height: 100%;
}

.table-header > button > svg {
  vertical-align: middle;
}

.table-header > h3 {
  margin: 0;
}