.thead {
  background-color: var(--primary);
  color: var(--light);
  border: 0;
}

.worksheet-table table {
  background-color: var(--light);
}

.table-content {
  padding: 0;
  margin-right: 0.9375rem;
  margin-left: 1rem;
  overflow-x: auto;
  border-radius: 0 0 0.25rem 0.25rem;
}

.table-content tr:nth-child(even) {
  background-color: var(--shade-light);
}

.table-actions {
  margin: 0 1rem;
  padding: 0.5rem 0;
  background-color: var(--primary);
  border-radius: 0.25rem 0.25rem 0 0;
}

.table-actions > ul {
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.table-actions > ul button.toggle {
  background-color: var(--primary);
  border: thin solid var(--primary-shade);
  color: var(--light);
}

.selected {
  background-color: var(--secondary);
}

.editing > input {
  margin: 0;
  width: 100%;
}
