@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  /* Design tokens */
  /* Colors */
  /* Old Values
  --dark: #030303;
  --light: #fefeff;
  --shade: #f3f4f6;
  --shade-dark: #c0c1c3;
  --primary: #4600e0;
  --primary-shade: #0000ad;
  --secondary: #00c2d1;
  --secondary-shade: #0091a0;
  --tertiary: #f9e900;
  --tertiary-shade: #c2b700;
  */
  --dark: #2e2c2f;
  --light: #f9f8f8;
  --shade: #e1e3e5;
  --shade-dark: #c0c1c3;
  --shade-light: #eaecf0;
  --primary: #4600e0;
  --primary-shade: #0000ad;
  --secondary: #0daf94;
  --secondary-shade: #0091a0;
  --tertiary: #f9e900;
  --tertiary-shade: #c2b700;

  /* Scale */
  --s300: 0.833rem;
  --s400: 1rem;
  --s500: 1.2rem;
  --s600: 1.44rem;
  --s700: 1.728rem;
  --s800: 2.074rem;
  --s900: 2.488rem;
  /* Breakpoints */
  --xs: 0;
  --sm: 36em; /* 576px */
  --md: 48em; /* 768px */
  --lg: 60em; /* 960px */
  --xl: 75em; /* 1200px */
  --xxl: 87.5em; /* 1400px */
  /* Flow */
  --metric-rythm: 1.5rem;
}

/* Composition */
html {
  font-size: 100%;
} /*16px*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--light);
}

p {
  margin-bottom: 1rem;
}

a {
  color: currentColor;
  text-decoration-color: var(--tertiary);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--tertiary);
  text-decoration-color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}

h1 {
  font-size: 2.488rem;
  font-weight: 300;
  letter-spacing: 0.09375rem;
}

h2 {
  font-size: 2.074rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
}

h3 {
  font-size: 1.728rem;
  letter-spacing: 0;
}

h4 {
  font-size: 1.44rem;
  letter-spacing: 0.015625rem;
}

h5 {
  font-size: 1.2rem;
  letter-spacing: 0;
}

h6 {
  font-size: 1.0833rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

ul {
  margin: 0;
}

button {
  background-color: var(--primary);
  color: var(--light);
  border: 0;
  padding: 0;
  border-radius: 0.25rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  min-width: 4rem;
  height: 2.25rem;
  width: max-content;
}

button > svg {
  width: 1.125rem;
  margin-right: 0.25rem;
}

button > .btn-label {
  margin-left: 0.25rem;
}

button > * {
  vertical-align: middle;
}

button:disabled {
  background-color: var(--shade);
  color: var(--dark);
}

button.outlined {
  background-color: unset;
  border: thin solid var(--shade-dark);
  color: var(--primary);
}

button.text {
  background-color: unset;
  border: 0;
  color: var(--primary);
}

button.outlined:disabled,
button.text:disabled {
  color: var(--shade-dark);
}

button.toggle {
  padding: 0.75rem;
  margin: 0 0.0625rem;
  height: unset;
  min-width: unset;
  background-color: var(--light);
  color: currentColor;
  border: thin solid var(--shade-dark);
}

button.toggle > svg {
  width: 1.5rem;
  padding: 0;
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  text-transform: uppercase;
}

input,
textarea {
  border: 0;
  border-bottom: medium solid var(--primary);
  background-color: var(--shade-light);
  padding: 0 var(--s400);
  margin-bottom: 1rem;
  width: 100%;
  font-size: var(--s400);
  border-radius: 0.25rem;
}

legend {
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
}

table {
  width: max-content;
  border-collapse: collapse;
  border-bottom: thick solid var(--primary);
  width: 100%;
}

tr:nth-of-type(even) {
  background-color: var(--shade-light);
}
/*
td:first-of-type {
  border-left: 0;
}
*/

td {
  min-width: 1vw;
  min-height: 1.75rem;
  height: 2rem;
  padding: 0.35rem;
  border: thin solid var(--shade-dark);
  text-align: center;
  vertical-align: middle;
}
/* Composition */

.flow {
  --flow-space: var(--metric-rythm);
}

.flow > * + * {
  margin-top: 1rem;
  margin-top: var(--flow-space, 1rem);
}

.s400-h-pad {
  padding-left: var(--s400);
  padding-right: var(--s400);
}

.s300-h-pad {
  padding-left: var(--s300);
  padding-right: var(--s300);
}

.s400-left-pad {
  padding-left: var(--s400);
}

.s400-v-pad {
  padding-top: var(--s400);
  padding-bottom: var(--s400);
}

.s300-v-pad {
  padding-top: var(--s300);
  padding-bottom: var(--s300);
}

.rounded {
  border-radius: var(--s300);
}

.rounded-top {
  border-radius: var(--s400) var(--s400) 0 0;
}

.main-container {
  background-color: var(--light);
}

.primary-bg {
  background-color: var(--primary);
  color: var(--light);
}

.secondary-bg {
  background-color: var(--secondary);
  color: var(--light);
}

.tertiary-bg {
  background-color: var(--tertiary);
  color: var(--light);
}

.shade-bg {
  background-color: var(--shade);
  color: var(--dark);
}

.light-bg {
  background-color: var(--light);
  color: var(--dark);
}

.dark-bg {
  background-color: var(--dark);
  color: var(--light);
}

/* Utilities */

.grid-ele-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--s400);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.sidebar[data-size] {
  flex-basis: attr(data-size rem, 25%);
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.flex-row-parent {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-parent > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
}

.col.span1 {
  grid-column: auto / span 1;
}

.col.span2 {
  grid-column: auto / span 2;
}

.col.span3 {
  grid-column: auto / span 3;
}

.col.span4 {
  grid-column: auto / span 4;
}

.sm-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.card {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  /*box-shadow: 0 8px 8px 0 var(--shade-dark);*/
  box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 10%) inset,
    0px 1px 4px 0px rgb(0 0 0 / 10%);
  /*border: thin solid var(--shade-dark);*/
  margin: 0 0 1rem;
  background-color: var(--light);
}

.card-header {
  padding: 0 1rem;
}

.card-header > h4 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  border-bottom: thin solid var(--shade-dark);
}

.card-subtitle {
  padding: 0 1rem;
  color: var(--dark);
}

.card-subtitle p {
  margin: 0 0 1rem;
}

.card-rich-content {
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.card-actions {
  padding: 0;
}

.card-actions > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}

.card-actions > ul > li {
}

@media only screen and (min-width: 36em) {
  /* [class*='grid-'] {} */
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }

  .grid-ele-wrapper {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: var(--s400);
  }

  .col.span5 {
    grid-column: auto / span 5;
  }

  .col.span6 {
    grid-column: auto / span 6;
  }

  .col.span7 {
    grid-column: auto / span 7;
  }

  .col.span8 {
    grid-column: auto / span 8;
  }
}

.grid-ele-header {
}

.grid-ele-menu {
}

.grid-ele-desc {
}

.gird-ele-context {
}

@media only screen and (min-width: 48em) {
  .grid-ele-wrapper {
    gap: var(--s600);
  }

  .main-container {
    margin: 0 var(--s600);
  }
}

@media only screen and (min-width: 60em) {
  .grid-ele-wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .col.span9 {
    grid-column: auto / span 9;
  }

  .col.span10 {
    grid-column: auto / span 10;
  }

  .col.span11 {
    grid-column: auto / span 11;
  }

  .col.span12 {
    grid-column: auto / span 12;
  }
}
